@using DemoApp.Controllers
@model HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        @Model.PublicString : @Model.PublicHash
    </div>
</div>